<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>记账本</title>
	<link type="text/css" rel="stylesheet" href="./css/index.css">
</head>
<body>
	<div id="main">
		<header>
			<div class="title">记账本</div>
			<div class="btn-menu"><img src="./img/menu.png" alt=""></div>
			<div class="pen"><a href="edit.html"><img src="./img/pen.png" alt=""></a></div>	

		<section class="menu clearfix">
			<div class="menus menu-list active">账目列表</div>
			<div class="menus menu-statistics">账目统计</div>
		</section>
		</header>
		<section id="lists">
		</section>
		<section id="charts">
		</section>
	</div>
	<script id="tpl" type="text/template">
		<div class="list">
			{{each list as value i}}
				{{if value}}
				<div class="detail">
					<div class="lists type"><img src="./img/{{url[i]}}.png" alt=""></div>
					<div class="lists description">{{type[i]}}</div>
					{{if i==0}}
					<div class="lists money">+{{value}}</div>
					{{else}}
					<div class="lists money minus">-{{value}}</div>
					{{/if}}
					<div class="lists time">{{time}}</div>
				</div>
				{{/if}}
			{{/each}}
			<div class="detail">
				{{if money>0}}
				<div class="lists count">剩余： +{{money}}</div>
				{{else}}
				<div class="lists count minus">剩余： {{money}}</div>
				{{/if}}
				<div class="touch"></div>
				<div class="operation">
					<div class="operate edit"><img src="./img/pen.png" alt=""></div>
					<div class="operate delete" data-id="{{index}}"><img src="./img/delete.png" alt=""></div>
				</div>
			</div>
		</div>
	</script>
	<script id="total-data" type="text/template">
		<div class="chart count">
			<ul>
				<li>总收入<br/><span style="color: #8ed498;">￥{{totalIncome}}</span></li><li>总支出<br/><span style="color: #f00;">￥{{totalExpenditure}}</span></li><li>总结余<br/><span>￥{{totalSurplusage}}</span></li>
			</ul>
		</div>
		<div id="pie"></div>
		<div id="line"></div>
	</script>
	<script type="text/javascript" src="./js/template.js"></script>
	<script type="text/javascript" src="./js/zepto.min.js"></script>
	<script type="text/javascript" src="./js/echarts-all.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>
</body>
</html>